[submodule "identity"]
	path = identity
	url = https://github.com/helixprojectai-code/HELIX-TTD-DBC-SUITCASE-v0.3.git
[submodule "constitution"]
	path = constitution
	url = https://github.com/helixprojectai-code/helix-ttd-v4.0.git
[submodule "hgl"]
	path = hgl
	url = https://github.com/helixprojectai-code/HELIX-GLYPH-LANGUAGE-HGL-.git
[submodule "grammar"]
	path = grammar
	url = https://github.com/helixprojectai-code/Helix-TTD-v1.0-Constitutional-Grammar.git
[submodule "helix-ledger"]
	path = helix-ledger
	url = https://github.com/helixprojectai-code/HELIX-LEDGER.git
