name: Code Quality Check

on:
  push:
    branches:
      - main  # Default branch of the fork
  pull_request:
    branches:
      - "**"

jobs:
  lint_workflow:
    name: Lint Code + General Checks
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository Code
      uses: actions/checkout@v4

    - name: Set Up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '16.x'
        cache: 'npm'

    # Use npm install as a fallback for now if package-lock.json is missing
    - name: Install Node.js Dependencies
      run: |
        if [ -f package-lock.json ]; then
          npm ci
        else
          npm install
        fi

    - name: Lint JavaScript Code with ESLint
      run: npx eslint ./src --ext .js,.jsx,.ts,.tsx  # Adapt folder/file path
